:root {
    --background:#191D26;
    --button:darkred;
    --tiles-background: #2c3c54;
    --tiles-outline:yellow;
    --tiles-shadow:white;
    --button:darkred;
    --border_effect:#531516;
    --text_colour:#1B222C;
    --font_cabin:font-family: 'Cabin', sans-serif;
}

body{
color:white;
display:flex;
flex-direction:column;
background-color:var(--background);
}

.bar{
display: flex; /* Use flexbox */
justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
height: 40px;
background-color:var(--tiles-background);
border-radius:5px;
margin-bottom:7px;
}

.main-box{
display:flex;
flex-direction:column;
justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
}
.form-box{
margin-top:2%;
background-color:var(--tiles-background);
padding:10px;
width:90%;

}

.photo-box{
display:flex;
align-items: center;
justify-content:center;
border-radius:3px;
padding:10px;
background-color:var(--tiles-background);
width: 90%;
height:100%;
}

img {
    height: 100%; /* Set the height of the image */
    width: 90%; /* Set the width of the image */
}
.form-inputs{
display:flex;
justify-content:space-around;
margin-top:2%;
}
.di{
max-height : 500px;
max-width: 400px;
}


.cards {
display flex;
justify-content:space-around;
flex-direction:row;
align-items: center;
margin:10px;
background-color:darkred;
}




.nav-bar{
display:flex;
background-color: var(--tiles-background);
margin:10px;
padding: 10px;
border-radius: 10px;
justify-content: space-between;
padding-right:180px;
}

.home-button {
display:flex;
align-items:center;
justify-content:center;
height : 10px;
padding:10px;
background-color : var(--tiles-background);
border-radius: 7px;
}

.home-button a {
background-color : #466086;
border-radius:10px;
color : white;
padding:5px;
margin:10px;
font-weight: bold;
}



.home{
display:flex;
align-items:center;
background-color : var(--tiles-background);
border-radius: 10px;
justify-content :left;
padding-left : 8px;
}

.home a {
color : white;
font-weight: bold;
}
