{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta  charset="UTF-8" name="viewport" content=" initial-scale= 0.6">
    <title>Lets record!</title>
    <link rel="stylesheet" href="{% static 'medtrac/dashboard_styles.css' %}">

</head>

<body>
<div class = 'nav-bar'>
    <button>Home</button>
    <button onclick="add_record()">Add Record</button>
     <div class = 'popup-overlay' id = 'popup-overlay'>
         <div class = "popup-container">
             <div class = 'popup-head'>
                 <H4>Add medical record</H4>
                 <button onclick="close_popup()">X</button>
              </div>
              <div class = 'popup-content'>
                <div class = 'popup-content-sub'>
                    <form action = '/medtrac/log_medtrac/' method = 'POST' id="log_medtrac">
                        {% csrf_token %}
                    <div class = 'popup-content-field'>
                         <label>Participant *</label>
                         <input type = 'text' id = 'edit-Participant' name = 'Participant' >
                    </div>
                    <div class = 'popup-content-field'>
                         <label>Test Parameter *</label>
                         <input type = 'text' id = 'edit-Parameter' name = 'Parameter'>
                    </div>
                    <div class = 'popup-content-field'>
                         <label>Value 1 *</label>
                         <input type = 'text' id = 'edit-Value1' name = 'Value1'>
                    </div>
                    <div class = 'popup-content-field'>
                          <label>Value 2 *</label>
                         <input type = 'text' id = 'edit-Value2' name = 'Value2'>
                    </div>
                   <div class = 'popup-content-field'>
                          <label>Value 3 *</label>
                         <input type = 'text' id = 'edit-Value3' name = 'Value3'>
                    </div>
                    <div class = 'popup-content-field'>
                         <label>Date</label>
                         <input type = 'date' id = 'edit-date' name = 'date'>
                    </div>
                     <div class = 'popup-content-field'>
                         <label>Date</label>
                         <input type = 'text' id = 'edit-recorder' name = 'recorder'>
                    </div>
                    <div class = 'popup-content-field'>
                          <label>Remarks</label>
                         <input type = 'text' id = 'edit-remarks' name = 'remarks'>
                    </div>
                    <div class = 'popup-content-field'>
                    <button type = 'button' onclick="save_medtrac_data()">Save</button>
                    </div>
                   </form>

                </div>

            </div>
         </div>
     </div>
    </div>
</body>
</html>


<script>
     function close_popup() {
    document.getElementById('popup-overlay').style.display = 'none';
    }
    function add_record(){
    console.log("add record request");
    document.getElementById('popup-overlay').style.display = 'flex';
    }


    function save_medtrac_data(){
    document.getElementById('log_medtrac').submit()

    }


</script>