
<!DOCTYPE html>
<html>
<head>
  <title>Test AR #1</title>
   <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://cdn.rawgit.com/jeromeetienne/AR.js/2.2.2/aframe/build/aframe-ar.js"></script>
</head>
<body>

</body>
</html>
<script>
    var protocol = window.location.protocol;
    var hostname = window.location.hostname;
    var port = window.location.port;
    var domain = protocol + '//' + hostname+'//'+port;

    console.log(domain);
    console.log(protocol);
    console.log(hostname);
    console.log(port);
    


</script>